.games {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  position: relative;
}


@font-face {
  font-family: Eloquia;
  src: url('./fonts/Eloquia/Typekiln\ -\ EloquiaDisplay-ExtraBold.otf');
}

@font-face {
  font-family: Beaufort;
  src: url('./fonts/Beaufort/Beaufort-Bold.ttf');
}

.name {
  color: white;
  margin: auto;
  font-size: 280px;

  letter-spacing: 5px;
  /* line-height: 400px; */
  /* font-family: 'Eloquia' */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.letter{
  display: inline-block;
  min-width: 85px;
}

.header {
  width: 100%;
  height: 100px;
  margin-top: 2%;
  background-color: black;
}

.logo {
  filter: brightness(0) invert(1);
}

.riot-logo {
  width: 250px;
  height: 250px;
  /* margin: auto; */
  position: absolute;
  top: 50%;
  left: 50%;
}

.game-card {
  width: 300px;
  height: 200px;
}

.game-card:hover {
  cursor: pointer;
}

.valo {
  background-image: url('../public/valo.jpg');
  background-size: cover;
}

.lol {
  background-image: url('../public/lol.jpg');
  background-size: cover;
}

.tft {
  background-image: url('../public/tft.jpg');
  background-size: cover;
}

.lor {
  background-image: url('../public/lor.jpg');
  background-size: cover;
}

body {
  position: relative;
}

.transition {
  /* z-index: 2; */
  position: absolute;
  width: 100;
  height: 100;
  background-color: black;
  top: 0px;
  border-radius: 0% 0% 100% 0%;
}


.game-name {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* font-family: 'Beaufort'; */
  font-size: 150px;
  line-height: 160px;
}

.char-card {
  height: 350px;
  position: relative;
  border-radius: 20px;
}

.char-image {
  position: absolute;
  width: 200px;
  top: -20%;
  right: 25%;
}